<h1>Witam!</h1>

<p>Tu {{ username }}. Pragnę zawiadomić {{ gender }} o nowym wydarzeniu:</p>

<p>{{ description }}</p>

<br />

<p>Proszę zadeklarować swój udział pod poniższym adresem:</p>

{{ link_to("http://myevent.siciarek.pl/event/2345/impreza-gwiazdkowa-dla-uczniow.html") }}

<br />
<br />

<p>Z poważaniem:</p>

<p>{{ username }}</p>